dn: uid={{ ldap_replica_user.username }},dc={{ ldap_admin_info.domain_name.split('.')[0] }},dc={{ ldap_admin_info.domain_name.split('.')[1] }}
objectClass: simpleSecurityObject
objectClass: account
uid: {{ ldap_replica_user.username }}
description: LDAP Replication User
userPassword: {{ ldap_replica_user.password }}
